@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --footer-text: #838383;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/* Dark mode */
[data-theme="dark"] {
  --background-color: #2c3e50;
  --text-color: #ffffff;
  --footer-text: #838383;
}

/* .hide-scrollbar::-webkit-scrollbar {
  /* display: none; */
/* } */

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*/ .banner-div {
  position: relative; /* Required for z-index to work */
  z-index: 1;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../public/banner/hero-banner.jpg");
  background-size: cover;
  background-position: center;
}
.banner-div-new {
  position: relative; /* Required for z-index to work */
  z-index: 1;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../public/banner/newhero.jpg");
  background-size: cover;
  background-position: center;
}
.banner-title {
  position: relative; /* Required for z-index to work */
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-size: cover;
  background-position: center;
}
